@static_url: 'https://static.pdffiller.com';
@default_font: 'Arial';

#chat-app{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 320px;
    height: 400px;
    z-index: 300;
}
#chat-app * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#chat-app .c-btn-orange {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ff8615;
    text-align: center;
    color: #fff;
    font: 700 12px/20px @default_font;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 3px;
    outline: none;
    background: #ff9000 linear-gradient(#ffa300,#f70);
}
#chat-app .c-btn-grey {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #bbb;
    text-align: center;
    font: 700 12px/20px @default_font;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 3px;
    outline: none;
    color: #444;
    background: #f2f2f2 linear-gradient(#f5f5f5,#ececec);
}

#chat-app .chat-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 400px;
    font-family: @default_font;
    font-size: 14px;
    color: #444;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 13px #444;
    border-radius: 4px;
}
#chat-app .chat-header {
    cursor: move;
    position: relative;
    height: 50px;
    margin: 0 auto;
    padding: 15px 65px 0 42px;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
    color: #444;
    font: 700 16px @default_font;
    line-height: 21px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#chat-app .chat-header:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 15px;
    background: url("@{static_url}/img/chat/icon-chat-header.svg") no-repeat;
}
#chat-app .chat-header .close-chat {
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
    font-size: 18px;
    color: #444;
    transition: color .15s;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 14px;
}
#chat-app .chat-body {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#chat-app .chat-body .fetch-operator{
    padding: 20px;
    text-align: center;
}
#chat-app .chat-body .fetch-operator > span{
    color: #444;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-bottom: 20px;
}
#chat-app .chat-body .title{
    color: #444;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin: 30px auto 10px;
}
#chat-app .chat-body .fetch-operator .wait-animation{
    margin: 60px auto 0;
    width: 50px;
    height: 50px;
    background: url("@{static_url}/img/chat/hourglass.gif") no-repeat;
}
#chat-app .chat-body .chat-app-dialog{
    position: relative;
    height: 100%;
}
#chat-app .chat-body .chat-app-dialog .chat-form{
    height: 20%;
    padding: 0 20px;
    position: relative;
}
#chat-app .chat-body .chat-app-dialog .chat-form .typing{
    position: absolute;
    top: -24px;
    left: 20px;
    color: #868686;
}
#chat-app .chat-body .chat-app-dialog .chat-form .enter-msg {
    height: 42px;
    background: #fff;
    position: relative;
    margin: 20px 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
}
#chat-app .chat-body .chat-app-dialog .chat-form .enter-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    height: 32px;
    line-height: 30px;
    font-weight: 400;
}
#chat-app .chat-body .chat-app-dialog .chat-form textarea{
    padding: 12px;
    width: 192px;
    float: left;
    height: 38px;
    margin: 2px;
    background: #fff;
    outline: none;
    resize: none;
    color: #444;
    font: 400 13px/14px @default_font;
    border: none;
    overflow: auto;
}
#chat-app .chat-body .messages-list{
    padding: 20px;
    height: 80%;
    overflow-y: auto;
}
#chat-app .chat-body .messages-list .message {
    position: relative;
    text-align: left;
    overflow: auto;
    transition: opacity 0.3s;
}
#chat-app .chat-body .messages-list .message.loading:after {
    content: '';
    background: url('./img/loading.gif') no-repeat center center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 7px;
    top: 24px;
    z-index: 3;
}
#chat-app .chat-body .messages-list .message.loading .text{
    background-color: #f4f3f3 !important;
    opacity: 0.3;
}
#chat-app .chat-body .messages-list .message.attachment > .text + .attachment-list {
    clear: both;
    margin-top: 5px;
}
#chat-app .chat-body .messages-list .message.attachment .attachment-list {
    min-height: 35px;
    min-width: 25px;
    position: relative;
}

#chat-app .chat-body .messages-list .message.attachment .attachment-list .attachment-container{
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 8px 5px 20px;
    border-radius: 3px;
    font-size: 12px;
    margin: 3px 0;
    background: url('./img/attach_file.png') no-repeat center left;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}
#chat-app .chat-body .messages-list .message.attachment .attachment-container a{
    color: #444;
}
#chat-app .chat-body .messages-list .message + .message{
    margin-top: 10px;
}
#chat-app .chat-body .messages-list .message b{
    color: #444;
    font-size: 12px;
    display: block;
}
#chat-app .chat-body .messages-list .message .text{
    padding: 10px;
    margin: 5px 0 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 3px;
    color: #444;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    float: left;
    min-width: 24px;
    min-height: 35px;
}
#chat-app .chat-body .messages-list .message.right{
    text-align: right;
}
#chat-app .chat-body .messages-list .message.right .text{
    text-align: left;
    background-color: #fff1dd;
    float: right;
    white-space: pre-wrap;
}

#chat-app .chat-body .confirm-chat{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 99;
    padding: 20px;
    text-align: center;
}
#chat-app .chat-body .confirm-chat .btn-close-chat{
    padding: 4px 0;
    vertical-align: middle;
    width: 110px;
}
#chat-app .chat-body .confirm-chat .btn-keep-chatting{
    padding: 4px 0;
    vertical-align: middle;
    width: 110px;
    margin-left: 10px;
}
#chat-app .chat-body .confirm-chat .btn-goback-chat{
    padding: 4px 0;
    vertical-align: middle;
    width: 110px;
    margin-right: 10px;
}
#chat-app .confirm-chat .title {
    margin: 0 auto 10px;
}
#chat-app .confirm-chat .title.prevent {
    margin-top: 50px;
}
#chat-app .confirm-chat .title.set_rate {
    margin-top: 20px;
}
#chat-app .confirm-chat .preventing .buttons {
    margin-top: 50px;
}
#chat-app .confirm-chat input[type="email"] {
    padding: 4px 10px;
    width: 100%;
    height: 30px;
    background: #fff;
    outline: none;
    resize: none;
    color: #444;
    font: 400 13px/14px @default_font;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 3px;
}

#chat-app .rate-block {

}
#chat-app .rate-block label {
    font-size: 15px;
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
}
#chat-app .rate-block input[type="checkbox"] {
    vertical-align: middle;
}
#chat-app .rate-block .set-rate {
    margin: 20px auto 0;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
#chat-app .rate-block .set-rate .stars {
    text-align: center;
    position: relative;
    width: 140px;
    margin: 5px auto 25px;
}
#chat-app .rate-block .set-rate .stars span {
    background-image: url("@{static_url}/img/chat/star.png");
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
#chat-app .rate-block .set-rate .stars span.is-active {
    background-position: 0 -50px;
}
#chat-app .rate-block .set-rate .stars span.is-hover {
    background-position: 0 -25px;
}
#chat-app .rate-block .set-rate > p {
    font-size: 13px;
}
#chat-app .rate-block p.close-text {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}

#chat-app .chat-welcome {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 3;
    padding: 20px;
    text-align: center;
}
#chat-app .chat-welcome input[type="text"] {
    padding: 6px 10px;
    width: 100%;
    height: 36px;
    background: #fff;
    outline: none;
    resize: none;
    color: #444;
    font: 400 13px/14px 'Arial';
    border: 1px solid #ddd;
    margin-top: 15px;
}
#chat-app .chat-welcome .enter-btn {
    padding: 8px 0;
    display: block;
    width: 100%;
    margin: 10px auto;
    font-size: 15px;
}
#chat-app .chat-form .attach-file {
    position: absolute;
    right: 55px;
    top: 5px;
    width: 30px;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    font-size: 21px;
    user-select: none;
    cursor: pointer;
    background: url('./img/attach_file.png') no-repeat center center;
}
#chat-app .chat-welcome p {
    font-size: 13px;
}